.btn {
  @apply w-[100px] h-[30px] rounded-xl bg-skin-primary shadow-2xl py-1.5 px-4;
}

.effect-container {
  position: relative;
  overflow: hidden;

  --effect-name: ripple;
  --effect-duration: 1s;
  --effect-color: #fff;
  --effect-top: 0;
  --effect-left: 0;
  --effect-height: 100px;
  --effect-width: 100px;
}

.effect-container::before {
  content: "";
  position: absolute;
  z-index: -1;

  top: var(--effect-top);
  left: var(--effect-left);
  width: var(--effect-width);
  height: var(--effect-height);

  background-color: var(--effect-color);
  border-radius: 50%;
  /*animation: var(--effect-name) var(--effect-duration) linear;*/
  /*animation-fill-mode: forwards;*/
  /*animation-play-state: paused;*/
}

.effect-container.active::before {
  border-radius: 50%;
  animation: ripple var(--effect-duration) linear forwards;
  /*animation: var(--effect-name) var(--effect-duration) linear;*/
  /*animation-fill-mode: forwards;*/
  /*animation-play-state: paused;*/
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(6);
    opacity: 0;
  }
}
