@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text-main: 184, 180, 206; /* #b8b4ce */
    --color-text-subsidiary: 143, 139, 166; /* #8f8ba6 */

    --color-bg-main: 40, 36, 61; /* #28243d */
    --color-bg-contrast: 49, 45, 75; /* #312d4b */
    --color-bg-subsidiary: 47, 44, 69; /* #2f2c45 */

    --color-gradient-main-from: 142, 92, 246; /* #8e5cf6 */
    --color-gradient-main-to: 216, 70, 239; /* #d846ef */
  }

  .theme-light {
    --color-text-main: 255, 255, 255; /* #b8b4ce */
    --color-text-subsidiary: 143, 139, 166; /* #8f8ba6 */

    --color-bg-main: 40, 36, 61; /* #28243d */
    --color-bg-contrast: 49, 45, 75; /* #312d4b */
    --color-bg-subsidiary: 47, 44, 69; /* #2f2c45 */
  }

  .theme-neon {
    --color-text-main: 184, 180, 206; /* #b8b4ce */
    --color-text-subsidiary: 143, 139, 166; /* #8f8ba6 */

    --color-bg-main: 40, 36, 61; /* #28243d */
    --color-bg-contrast: 49, 45, 75; /* #312d4b */
    --color-bg-subsidiary: 47, 44, 69; /* #2f2c45 */
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.pl-compact {
  padding-left: 100px;
}

.pl-full {
  padding-left: 300px;
}

.pl-layout-tablet {
  padding-left: 20px;
}
