@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --color-text-main: 19, 27, 45;
      --color-text-subsidiary: 100, 116, 139;
      --color-text-accent: 14, 165, 233;
      --color-text-secondary: 79, 70, 229;

      --color-error-main: 255, 51, 51; /* #ff3333 */

      --color-bg-main: 236, 237, 243;
      --color-bg-accent: 79, 70, 229;
      --color-bg-contrast: 241, 241, 242; /* #312d4b */
      --color-bg-subsidiary: 205, 211, 216; /* #2f2c45 */

      --color-primary-main: 142, 92, 246; /* #8e5cf6 */
      --color-primary-main-hover: 139, 82, 242; /* #8b52f2 */

      /*  dark theme - WIP (will be in the future - now it is light) */

      --color-dark-text-main: 184, 180, 206; /* #b8b4ce */
      --color-dark-text-subsidiary: 143, 139, 166; /* #8f8ba6 */
      --color-dark-text-accent: 142, 92, 246; /* #28243d */
      --color-dark-text-secondary: 79, 70, 229;

      --color-dark-bg-main: 40, 36, 61; /* #28243d */
      --color-dark-bg-contrast: 49, 45, 75; /* #312d4b */
      --color-dark-bg-subsidiary: 47, 44, 69; /* #2f2c45 */
      --color-dark-bg-accent: 79, 70, 229;

      --color-dark-primary-main: 142, 92, 246; /* #8e5cf6 */
      --color-dark-primary-main-hover: 139, 82, 242; /* #8b52f2 */

      --color-dark-error-main: 255, 51, 51; /* #ff3333 */

      --color-gradient-main-from: 142, 92, 246; /* #8e5cf6 */
      --color-gradient-main-to: 216, 70, 239; /* #d846ef */
  }
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

.pl-compact {
  padding-left: 100px;
}

.pl-full {
  padding-left: 300px;
}

.pl-layout-tablet {
  padding-left: 20px;
}
