<div class="list-group">
  <div *ngIf="streams.length == 0">
    No streams exists
  </div>
  <a *ngFor="let item of streams" href="#" class="list-group-item list-group-item-action active" aria-current="true">
    {{item.name}}
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Some placeholder content in a paragraph.</p>
    <small>And some small print.</small>
  </a>
  <button class="btn btn-primary mt-3" (click)="goToAddEditPage()">Add new stream event</button>
</div>