:root {
    --color-text-main: rgb(19, 27, 45);
    --color-text-accent: rgb(230, 230, 230);
    --color-text-light: rgb(253, 252, 252);

    /*background*/
    --color-bg-main: rgb(236, 237, 243);
    --color-bg-sub: rgb(189, 189, 200);
    --color-bg-accent: rgb(105,100,241);
    --color-bg-light: rgb(246, 246, 250);

    /*gradient*/
    --color-gradient-main-from: #6366f1;
    --color-gradient-main-to: #a855f7;
}
