<div class="p-2">
    <div class="d-flex justify-content-between">
        <div class="mx-3">
            <fa-icon [icon]="['fas', 'arrow-alt-circle-left']"></fa-icon>
            <a class="ms-2" routerLink="/streams">Back to list</a>
        </div>
        <h2 class="me-3">Recorded Stream list</h2>
    </div>
    <div>
        <!-- <div class="container-fluid">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <video controls class="w-100">
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                    
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                    
                        Download the
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                        or
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                        video.
                    </video>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <video controls class="w-100">
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                    
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                    
                        Download the
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                        or
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                        video.
                    </video>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <video controls class="w-100">
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                    
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                    
                        Download the
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                        or
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                        video.
                    </video>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <video controls class="w-100">
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                    
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                    
                        Download the
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                        or
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                        video.
                    </video>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <video controls class="w-100">
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                    
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                    
                        Download the
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                        or
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                        video.
                    </video>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <video controls class="w-100">
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                    
                        <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                    
                        Download the
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                        or
                        <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                        video.
                    </video>
                </div>
            </div> 
        </div> -->
    
        <div class="wrapper">
            <div class="w-auto">
                <video controls class="w-100">
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                
                    Download the
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                    or
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                    video.
                </video>
            </div>
            <div class="w-auto">
                <video controls class="w-100">
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                
                    Download the
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                    or
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                    video.
                </video>
            </div>
            <div class="w-auto">
                <video controls class="w-100">
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                
                    Download the
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                    or
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                    video.
                </video>
            </div>
            <div class="w-auto">
                <video controls class="w-100">
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm" type="video/webm">
                
                    <source src="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4" type="video/mp4">
                
                    Download the
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.webm">WEBM</a>
                    or
                    <a href="https://interactive-examples.mdn.mozilla.net/media/cc0-videos/flower.mp4">MP4</a>
                    video.
                </video>
            </div>
        </div>
    </div>
</div>